.footer {
  background-color: #f6f9fc;
  padding: 5vh 0 3vh;
  color: #8898aa;
  border-top: 1px solid #eee;
}
.footer .col-md-6 {
  padding: 0
}
.footer p a {
  color: #8898aa;
}
.footer-service p a {
  display: inline-block;
  width: 33.3%;
  color: #8898aa;
}
.footer h4 {
  padding-bottom: 10px;
  color: #8898aa;
}
.footer h3 {
  color: #2f318b;
}


#copyright{
  background-color: #e6ecf3;
  border-top: 1px solid #e4ecf5;
  line-height: 4rem;
  color: #aec1d0;
  font-size: 13px;
  font-weight: lighter;
}
#copyright i {
  padding-right: 10px;
  vertical-align: middle;
  font-size: 20px;
}
