@import url("index.css");
@import url("footer.css");

body {
  font-family: 'microsoft yahei';
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
/*顶部栏部分*/
.header-area {
    margin: 0;
    margin-top: 10px;
    min-height: 40px;
    border-bottom: 1px solid #eee;
}
.header-left > .list-inline > li > a {
    line-height: 2.8;
    font-size: 11px;
    color: #999;
}
.header-left .fa {
    color: #2796de;
}

/*菜单部分*/
.menu .navbar {
    border: 0;
    min-height: 75px;
    background-color: #fff;
    border-radius: 0;
    margin-bottom: 0;
    /*这三个新属性可以让元素垂直居中*/
    justify-content: center;
    display: flex;
    align-items: center;
}
.menu .navbar-nav > li > a {
    border-radius: 3px;
    color: #000;
    font-size: 13px;
    font-weight: 900;
    margin: 0 2px;
    padding: 5px 15px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-family: 'microsoft yahei', serif;
}

/*幻灯片部分*/
.home {
    position: relative;
}
.carousel-control{
  justify-content: center;
  display: flex;
  align-items: center;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: none;
    height: auto;
}


/*首页竖版菜单栏*/
.menu-content-wrap{
  position: relative;
}
div.menu-content {
    width: 210px;
    height: 500px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999;
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0 !important;
}
.nav_list ul{
  margin: 0;
  padding: 0;
}

.nav_list ul li {
    list-style: none;
    display: block;
    width: 100%;
    height: 125px;
    border-top: 1px #afafaf dashed;
}
.nav_list ul li p a {
    color: #fff;
    width: 50%;
    margin-bottom: 5px;
    float: left;
}
.nav_list ul li h3, .nav_list ul li p a:nth-of-type(2n+1) {
    padding-left: 20px;
}
 .nav_list ul li h3 a {
    color: #fff;
    font-size: 18px;
}
.nav_list ul li:hover .listbox {
    display: block !important;
}
.nav_list ul li:hover p a, .listbox .procate dt, .footUl li dl dd a {
    color: #757575;
}
.nav_list ul li:hover h3 a {
    color: #ff6e27;
}







.modal-dialog {
    margin: 30px auto;
    margin-top: calc(50vh - 200px);
}


.page-header {
    background-color: #f6f6f6;
    margin-top: 10px;
    margin-bottom: 0px;
}
/*.page-header h1 {
    color: #eee;
}*/
.content-404{
  margin: 5% 0;
}

/*文章页开始*/
.blog {
    background-color: #fdfdfd;
}
.blog-top {
    margin-top: 2%;
}

.blog-main p {
    color: #999;
    font-size: 1em;
    margin-top: .3em;
}
p.bg {
    color: #FF6A4A;
    font-size: 1.3em;
    text-decoration: none;
    margin: 0;
}
.blog-one {
    margin-top: 1.5em;
}
.blog-one p {
    color: #ADADAD;
    font-size: 1em;
    line-height: 1.8em;
    margin-top: 1em;
}
.blog-comments {
    margin-top: 2.5em;
    border-top: 1px solid rgba(153, 153, 153, 0.1);
    padding: 1.3em 0px 0;
}
.blog-comments ul li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}
span.glyphicon {
    color: #9E9E9E;
}
.blog-comments ul li a, .blog-comments ul li p {
    color: #999;
    font-size: 0.9em;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

.categories {
    margin-top: 2em;
    padding: 0 1rem;
}
.categories:nth-child(1) {
    margin-top: 0;
}
.blog-right h3, .blog-right h2 {
    color: #7d7fce;
    font-size: 1.3em;
    font-weight: 400;
}
.blog-right ul {
    padding: 0;
    margin-top: 1.5em;
}
.blog-right ul li {
    list-style: none;
    margin-bottom: 8px;
}
.blog-right ul li a {
    color: #ADADAD;
    font-size: 1em;
    text-decoration: none;
}
.heading h3 {
    color: #FF6A4A;
    font-size: 1.3em;
    font-weight: 400;
}
.related-bottom {
    margin-top: 3%;

}
.related-left {
    text-align: center;
    padding-left: 0;
    padding-bottom: 6%;
}
.related-left img {
    width: 100%;
}
.related-left h4 {
    color: #747474;
    font-size: 1.3em;
    margin: 13px 0 0 0;
}
a.bg {
    color: #7d7fce;
    font-size: 1.3em;
    text-decoration: none;
}
.blog-comments ul {
    padding: 0;
    margin: 0;
}
.col-md-5.blog-one-left {
    padding-left: 0;
    height: 215px;
    overflow: hidden;
}
section#Business {
    background: #fafafa;
}
.article .blog-main {
  border: 1px solid #eee;
  padding: 20px;
  margin-bottom: 40px;
}

/*文章页结束*/



.blog-content-1 h2.blog-title.blog-post-title {
    font-size: 1.8rem;
}
.blog-content-1 h2.blog-title.blog-post-title a {
    color: #7d7fce;
}
p.blog-post-desc {
    color: #999;
    height: 39px;
    overflow: hidden;
}
.client-search-header {
    padding: 15px;
    background-color: #7d7fce;
    border-bottom: 1px solid #e5e5e5;
    color: #eee;
    font-size: 1.8rem;
}
.btn-primary {
    color: #fff;
    background-color: #7d7fce;
    border-color: #2e6da4;
}


/*about*/
.about .container{
  padding: 3rem 0;
}
.about-grids {
    padding: 2rem 0 3em 0;
}
.about-grid h4 {
    color: #000;
    font-size: 1.5em;
    margin: 0;
    line-height: 1em;
}
.about-grid p {
    color: #ADADAD;
    font-size: 1em;
    margin: 1em auto;
    line-height: 1.8em;
}
.about-team {
    padding: 3em 0;
    background: #fbfbfb;
}
.about-team .header-boxed span {
  background: #fbfbfb;
}
.about-team h4, .advantages h4 {
    color: #7d7fce;
    font-size: 2em;
    margin: 0;
}
.team-grids, .advantages, .advantages-grids {
    margin-top: 2em;
}
 .advantages {
    margin-bottom: 4em;
}
.team-grid h6 {
    font-size: 1.5em;
    color: #7d7fce;
    margin: 1em 0 1em 0;
    text-transform: capitalize;
}
.team-grid p {
    color: #8E8E8E;
    font-size: 1em;
    margin: 0;
    line-height: 1.8em;
}
.advantage-left {
    float: left;
    width: 18%;
}
.advantage-right {
    float: left;
    width: 77%;
    margin-left: 1em;
}
.advantage-left p {
    color: #8E8E8E;
    background: #ECECEC;
    width: 60px;
    height: 60px;
    font-size: 1.5em;
    margin: 0;
    border-radius: 50%;
    text-align: center;
    line-height: 2.3em;
}
.advantage-right h5 {
    color: #000;
    font-size: 1.2em;
    margin: 0;
    line-height: 1.3em;
}
.advantage-right p {
    color: #8E8E8E;
    font-size: 1em;
    margin: .5em 0 0 0;
    line-height: 1.8em;
}


/*comment*/
.p-30 {
    padding: 30px;
}
.white-bg {
    background: #fefefe;
    border: 1px solid #eee;
}
.comment-wrap {
    position: relative;
}
.comment-wrap .comment-thumb {
    position: absolute;
    left: 0;
    width: 90px;
}
.comment-body {
    padding-left: 105px;
    margin: 0 0 20px;
}

.comment-reply {
    padding-left: 100px;
}
.comment-author {
    text-transform: uppercase;
    margin: 0 0 5px;
    font-weight: 600;
    color: #333;
}
.comment-content p {
    margin-bottom: 10px;
    font-size: 14px;
    color: #999;
    font-weight: 300;
}
.comment-meta .post-meta li {
    font-size: 12px;
    font-weight: 500;
}
.post-meta li {
    display: inline-block;
    margin-right: 10px;
    text-transform: capitalize;
    font-size: 12px;
    color: #999;
}
.post-meta li a {
    color: #999;
    text-decoration: none;
    outline: none;
    display: block;
}
.comment-holder {
  margin-bottom: 40px;
}
