doctype
html(lang='zh-CN')
  head
    //- title #{title}
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalale=no')
    title!=title
    include ./include/head
  body
    include ./include/header
    block content
    include ./include/footer
