footer#footer
  a(href="/contact")
    .concact.back_purple
      .text-center
        h3 马上联系我们！
        .concact_content
          p 等不及让我们为你服务了吧，马上联系我们
  .info.unit
    .container
      .col-md-3
        h4 关于中拓
        .info_content
          p 
            | 嘉兴盛驰企业管理有限公司更着力打造--嘉兴企业联盟，为嘉兴各个企业提供一个交流互惠的平台，
            | 资源整合，普惠各方。
      .col-md-3
        h4 关于中拓
        .info_content
          ul
            - var items = ['地址：嘉兴市现代广场1号楼1单元1303', '电话：0573-82867120', '邮件：shengchiqiye@qq.com']
            each item in items
              li= item
      .col-md-3
        h4 中拓新闻
        .info_content
          ul
            - var items = ['地址：嘉兴市现代广场1号楼1单元1303', '电话：0573-82867120', '邮件：shengchiqiye@qq.com']
            each item in items
              li= item
      .col-md-3
        h4 关注公众号
        .info_content
          img
      .clearfix
