footer.footer
  .container
    .row
      .col-md-6
        .col-md-3
          h4 公司注册
          p
            a 核名神器
          p
            a 注册
          p
            a 记账
        .col-md-9.footer-service
          h4 公司服务
          p
            a 商标注册
            a 商标注册
            a 商标注册
          p
            a 商标注册
            a 商标注册
            a 商标注册
          p
            a 商标注册
            a 商标注册
            a 商标注册
          p
            a 商标注册
            a 商标注册
      .col-md-6
        .col-md-3
          h4 关于我们
          p
            a 公司简介
          p
            a 公司新闻
        .col-md-5.text-right
          h4  客服热线
          p 客服热线
          h3 4000-929-118
          p 周一至周日09:00-21:30

        .col-md-4
          img.img-responsive(src="images/qrcode.png")

#copyright
  .container
    .row
      .col-md-9 ©版权所有嘉兴中拓企业管理有限公司 | 设计&技术支持： 咖普网络
      .col-md-3
        .qrcode.pull-right
          i.fa.fa-qrcode
          | 公众号二维码
