nav.menu
  .container
    .row
      .navbar.navbar-default
        .col-sm-12.col-md-3
            .logo: img.img-responsive(src="/images/logo.png")
        .col-sm-12.col-md-9
          .navbar-default.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/') 首页
            li
              a(href='/firm_in') 公司注册
            //- li.dropdown
            //-   a.dropdown-toggle(href='/in_firm', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
            //-     | 公司注册
            //-     i.fa.fa-caret-down
            //-   ul.dropdown-menu.portfolio-list
            //-     li
            //-       a(href='/firm_in') 内资注册
            //-     li
            //-       a(href='/firm_out') 外资注册
            li
              a(href='/brand') 商标注册
            li
              a(href='/service') 公司服务
            li
              a(href='/heming') 核名神器
