extends ../layout
block content
  #content
    #about_content
      .container
        .unit
          .unit-header.text-center
            .subheading
              span 中拓企划
            h2 关于我们
            .space
          article
            p 嘉兴盛驰企业管理有限公司是经工商行政管理机关登记注册、财政局批准，为各企事业单位提供品牌管理策划、工商财务代理、人力资源管理咨询、企业金融咨询等企业服务的专业机构。
              |  公司成立于2012年，现已拥有盛驰企业策划、盛驰工商财务、盛驰人力资源、盛驰金融服务等四个专业企业服务部门，是嘉兴企业管理服务行业的品牌公司。
            p 盛驰工商财税部–是集多名高级专业技术职称的资深会计、工商税务服务人员及专业咨询顾问组合而成的融财务和税务于一体的高素质专业团队，拥有专门化管理和专业化运作的服务体系。
              | 为企业提供专业高效的工商税务服务，是企业工商注册、财务会计、资质审批、办公租赁等及相关服务的首选服务单位。
            p 盛驰管理策划部–专注于为企业提供形象设计、广告宣传、网站建设、发展战略、盈利模式、运营模式、业务规划、营销策略、组织机构、人员管理、财务预算等专业化服务，为企业打造最
              | 为优越稳健的品牌推广和发展模式。为您的公司量身定做，手把手教您从零成为优秀的企业家，是您创业和企业发展的首选好帮手！
            p 盛驰人力资源部–则与多家劳务派遣公司合作，拥有强大的人力资源供应体系，致力于为各个企业提供专业的人力资源服务，是嘉兴各大企业的可靠的人力资源后盾。并且长期与嘉兴学院人
              |力资源部及勤工助学中心合作，专业提供各类演艺人才、家教老师、派单人员、兼职人员等，旨在打造嘉兴最高效优惠的人力资源服务。
          .clearfix
          .space
          .space
          .space
          .col-md-offset-5.col-md-2
            .line
              .icon
                i.fa.fa-bomb
          .clearfix  
    .about_info
      .container
        .unit.dmask
          .col-md-7
            .info_block
              .col-md-5
                img.img-responsive(src="/images/about.jpg")
              .col-md-7
                h3 公司信息
                ul.info_wrap
                  li 地址：浙江省嘉兴市南湖区高中园区西梦创基地
                  li 电话：0573-82867120
                  li 传真：0573-82867130
                  li 邮件：shengchiqiye@qq.comsi.              
          .col-lg-5.col-md-5.col-sm-6.col-xs-12
            // Testimonials Widget Start
            .row
              .testimonials.widget
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .testimonials-title
                    h3.title
                      | 客户留言
                    .carousel-controls.pull-right
                      a.prev.btn-mini(data-slide='prev', rel='crs', href='#testimonials-carousel')
                        i.icon-angle-left
                      a.next.btn-mini(data-slide='next', rel='crs', href='#testimonials-carousel')
                        i.icon-angle-right
                      .clearfix
                .clearfix
                #testimonials-carousel.testimonials-carousel.slide.animate_afr.d5.animate_start
                  .carousel-inner
                    .item
                      .col-lg-12.col-md-12.col-sm-12.col-xs-12
                        .testimonial.item
                          p
                            | Lorem Ipsum is simply dummy text of the printing and
                            | typesetting industry. Lorem Ipsum has been the
                            | industry's standard dummy text ever since the 1500s,
                            | when an unknown printer took a galley of type.
                          .testimonials-arrow
                          .author
                            .testimonial-image
                              img(src='images/team-member-1.jpg', alt='')
                            .testimonial-author-info
                              a(style='cursor: pointer;') Monica Sing
                              |  Template
                              |                                                                     Eden
                    .item.active
                      .col-lg-12.col-md-12.col-sm-12.col-xs-12
                        .testimonial.item
                          p
                            | Lorem Ipsum is simply dummy text of the printing and
                            | typesetting industry. Lorem Ipsum has been the
                            | industry's standard dummy text ever since the 1500s,
                            | when an unknown printer took a galley of type.
                          .testimonials-arrow
                          .author
                            .testimonial-image
                              img(src='/images/team-member-2.jpg', alt='')
                            .testimonial-author-info
                              a(href='#') John Doe
                              |  Template Eden
                    .item
                      .col-lg-12.col-md-12.col-sm-12.col-xs-12
                        .testimonial.item
                          p
                            | Lorem Ipsum is simply dummy text of the printing and
                            | typesetting industry. Lorem Ipsum has been the
                            | industry's standard dummy text ever since the 1500s,
                            | when an unknown printer took a galley of type.
                          .testimonials-arrow
                          .author
                            .testimonial-image
                              img(src='images/team-member-3.jpg', alt='')
                            .testimonial-author-info
                              a(style='cursor: pointer;') Carol Johansen
                              |                                                                     Template Eden
                .clearfix
                .space
                .space
      .extra-border-element
        .extra-border-inner.back_white
