extends ../layout
block content
  //- .page-header
  //-   .container
  //-     h1
  //-       | #{title}
  //-       small 联系我们，让我们更好的为您服务
  section#brand
      .container
        .row
          .col-md-12.text-center
            .title
              h2.header-boxed.wow.zoomIn.animated(style='visibility: visible; animation-iteration-count: 1; animation-name: zoomIn;', data-wow-iteration='1')
                span 商标注册
              p.lead 如果您有任何业务上或者流程上的疑问，马上给我们留言：
        .row.brand_row
          .col-md-5.text-right
            img(src="/images/brand.jpg")
          .col-md-7
            .brand_item
              .col-md-2
                .brand_icon.text-right
                  i.fa.fa-3x.fa-tv
              .col-md-9
                .brand_content
                  .caption
                    h4 商标普通注册
                  p 服务内容： 商标信息、公司信息严格保密申请提交后，3-4个月下发受理通知书专业知识产权服务平台，一对一全程办理
              .clearfix
            .brand_item
              .col-md-2
                .brand_icon.text-right
                  i.fa.fa-3x.fa-tv
              .col-md-9
                .brand_content
                  .caption
                    h4 商标普通注册
                  p 服务内容： 商标信息、公司信息严格保密申请提交后，3-4个月下发受理通知书专业知识产权服务平台，一对一全程办理
              .clearfix
            .brand_item
              .col-md-2
                .brand_icon.text-right
                  i.fa.fa-3x.fa-tv
              .col-md-9
                .brand_content
                  .caption
                    h4 商标普通注册
                  p 服务内容： 商标信息、公司信息严格保密申请提交后，3-4个月下发受理通知书专业知识产权服务平台，一对一全程办理
              .clearfix
        .row.brand_row
          .col-md-5.text-right
            img(src="/images/brand2.jpg")
          .col-md-7
            .brand_item
              .col-md-2
                .brand_icon.text-right
                  i.fa.fa-3x.fa-tv
              .col-md-9
                .brand_content
                  .caption
                    h4 商标普通注册
                  p 服务内容： 商标信息、公司信息严格保密申请提交后，3-4个月下发受理通知书专业知识产权服务平台，一对一全程办理
              .clearfix
            .brand_item
              .col-md-2
                .brand_icon.text-right
                  i.fa.fa-3x.fa-tv
              .col-md-9
                .brand_content
                  .caption
                    h4 商标普通注册
                  p 服务内容： 商标信息、公司信息严格保密申请提交后，3-4个月下发受理通知书专业知识产权服务平台，一对一全程办理
              .clearfix
            .brand_item
              .col-md-2
                .brand_icon.text-right
                  i.fa.fa-3x.fa-tv
              .col-md-9
                .brand_content
                  .caption
                    h4 商标普通注册
                  p 服务内容： 商标信息、公司信息严格保密申请提交后，3-4个月下发受理通知书专业知识产权服务平台，一对一全程办理
              .clearfix
