extends ../layout
block content
  .page-header
    .container
      h1
        | #{title}
        small 神器
  section#heming
    .container
      .row
        .col-md-12.text-center
          .title
            h2.header-boxed.wow.zoomIn.animated(style='visibility: visible; animation-iteration-count: 1; animation-name: zoomIn;', data-wow-iteration='1')
              span 公司核名神器
            p.lead 一个帮你取名的神器，想要神马名字就来查：
          #heming_from
            form.form-inline(role="form")
              .form-group
                label.sr-only(for="111")
                input.form-control(type='text', list="addr", name="addr", placeholder="选择城市" )
                datalist#addr
                  option(value="嘉兴")
                  option(value="上海")
                  option(value="杭州")
              .form-group
                label.sr-only(for="111")
                input.form-control(type='text', name="name", placeholder="输入名称")
              .form-group
                label.sr-only(for="111")
                input.form-control(type='text', name="industry", placeholder="输入行业")
              .form-group
                label.sr-only(for="111")
                input.form-control(type='text', list="addr", name="addr", placeholder="公司类型" )
                datalist#addr
                  option(value="有限公司")
                  option(value="有限责任公司")
                  option(value="股份公司")
                  option(value="股份有限公司")
              .form-group
                button(type="submit") 查询
  section#heming_result
    .container
      .row
        .col-md-4
          .result_box
            .icon_left.pull-left
              i.fa.fa-5x.fa-bug
            .result
              h2 敏感词分析
              p 无敏感词，可尽情使用
        .col-md-4
          .result_box
            .icon_left.pull-left
              i.fa.fa-5x.fa-bug
            .result
              h2 敏感词分析
              p 无敏感词，可尽情使用
        .col-md-4
          .result_box
            .icon_left.pull-left
              i.fa.fa-5x.fa-bug
            .result
              h2 敏感词分析
              p 无敏感词，可尽情使用
