extends ../layout
block content
  #myCarousel.carousel.slide
    //-  轮播（Carousel）指标
    ol.carousel-indicators
      li.active(data-target='#myCarousel', data-slide-to='0')
      li(data-target='#myCarousel', data-slide-to='1')
      li(data-target='#myCarousel', data-slide-to='2')
    //-  轮播（Carousel）项目
    .carousel-inner
      .item.active
        img(src='images/kv_1.jpg', alt='First slide')
      .item
        img(src='images/kv_2.jpg', alt='Second slide')
      .item
        img(src='images/kv_3.jpg', alt='Third slide')
    //-  轮播（Carousel）导航
    a.carousel-control.left(href='#myCarousel', data-slide='prev')
      | ‹
    a.carousel-control.right(href='#myCarousel', data-slide='next')
      | ›
  .container-fluid
    .row.icon-row
      .col-lg-3.col-md-3.icon-box
          .icon
            i.fa.fa-4x.fa-bug
          .icon-caption
            | 中国加油
      .col-lg-3.col-md-3.icon-box
          .icon
            i.fa.fa-4x.fa-bug
          .icon-caption
            | 中国加油
      .col-lg-3.col-md-3.icon-box
          .icon
            i.fa.fa-4x.fa-bug
          .icon-caption
            | 中国加油
      .col-lg-3.col-md-3.icon-box
          .icon
            i.fa.fa-4x.fa-bug
          .icon-caption
            | 中国加油
