extends ../layout
block content
  #content
    .about
      .container
        .unit
          .col-md-offset-2.col-md-8
            .unit-header.text-center
              .subheading
                span 中拓企划
              h2 关于我们
            .text-block
              | 嘉兴盛驰企业管理有限公司是经工商行政管理机关登记注册、财政局批准，为各企事业单
              | 位提供品牌管理策划、工商财务代理、人力资源管理咨询、企业金融咨询等企业服务的专
              | 业机构。公司成立于2012年，现已拥有盛驰企业策划、盛驰工商财务、盛驰人力资源、
              | 盛驰金融服务等四个专业企业服务部门，是嘉兴企业管理服务行业的品牌公司。
          .clearfix
          .space
          .col-md-offset-5.col-md-2
            .line
              .icon
                i.fa.fa-bomb
          .space
          .clearfix      
          .space
          .space
          .iconbox_col
            .col-md-4
              .iconbox
                  .iconbox_icon.heading-color
                    i.fa.fa-user
                  .iconbox_content
                    h3 高效快捷办理
                    .iconbox_content_container 
                      p 开始接下任务之后会快速帮你解决任务
            .col-md-4
              .iconbox
                  .iconbox_icon.heading-color
                    i.fa.fa-gear
                  .iconbox_content
                    h3 高效快捷办理
                    .iconbox_content_container 
                      p 开始接下任务之后会快速帮你解决任务
            .col-md-4
              .iconbox
                  .iconbox_icon.heading-color
                    i.fa.fa-flash
                  .iconbox_content
                    h3 高效快捷办理
                    .iconbox_content_container 
                      p 开始接下任务之后会快速帮你解决任务
          .clearfix
    .service
      .container
        .unit
          .col-md-offset-2.col-md-8
            .unit-header.text-center
              .subheading
                span 中拓企划
              h2 关于我们
            .text-block
              | 嘉兴盛驰企业管理有限公司是经工商行政管理机关登记注册、财政局批准，为各企事业单
              | 位提供品牌管理策划、工商财务代理、人力资源管理咨询、企业金融咨询等企业服务的专
              | 业机构。公司成立于2012年，现已拥有盛驰企业策划、盛驰工商财务、盛驰人力资源、
              | 盛驰金融服务等四个专业企业服务部门，是嘉兴企业管理服务行业的品牌公司。
          .clearfix
          .space
          //- .col-md-offset-5.col-md-2
          //-   .line
          //-     .icon
          //-       i.fa.fa-bomb
          .clearfix  
          .space
          .col-md-offset-3.col-md-6
            img.img-responsive(src="/images/service.jpg")
          .clearfix
    #portfolio
      .col-md-3.no_margin_padding: a
        img.img-responsive(src="/images/Showcase-01.png")
      .col-md-3.no_margin_padding: a
        img.img-responsive(src="/images/Showcase-02.png")
      .col-md-3.no_margin_padding: a
        img.img-responsive(src="/images/Showcase-03.png")
      .col-md-3.no_margin_padding: a
        img.img-responsive(src="/images/Showcase-04.png")
    .clearfix
    #contact
      .container
        .unit
          .col-md-offset-2.col-md-8
            .unit-header.text-center
              .subheading
                span 中拓企划
              h2 联系我们
            .text-block
              | 嘉兴盛驰企业管理有限公司是经工商行政管理机关登记注册、财政局批准，为各企事业单
              | 位提供品牌管理策划、工商财务代理、人力资源管理咨询、企业金融咨询等企业服务的专
              | 业机构。公司成立于2012年，现已拥有盛驰企业策划、盛驰工商财务、盛驰人力资源、
              | 盛驰金融服务等四个专业企业服务部门，是嘉兴企业管理服务行业的品牌公司。
          .clearfix
          .space
          .col-md-offset-5.col-md-2
            .line
              .icon
                i.fa.fa-bomb
          .clearfix  
          .space
          .col-md-offset-3.col-md-6
            
          .clearfix
      .extra-border-element
        .extra-border-inner.back_white
          

                    
          
            
