extends ../layout
block content
  #myCarousel.carousel.slide
    //-  轮播（Carousel）指标
    ol.carousel-indicators
      li.active(data-target='#myCarousel', data-slide-to='0')
      li(data-target='#myCarousel', data-slide-to='1')
      li(data-target='#myCarousel', data-slide-to='2')
    //-  轮播（Carousel）项目
    .carousel-inner
      .item.active
        img(src='images/kv_1.jpg', alt='First slide')
      .item
        img(src='images/kv_2.jpg', alt='Second slide')
      .item
        img(src='images/kv_3.jpg', alt='Third slide')
    //-  轮播（Carousel）导航
    a.carousel-control.left(href='#myCarousel', data-slide='prev')
      | ‹
    a.carousel-control.right(href='#myCarousel', data-slide='next')
      | ›
  .container-fluid
    .row.icon-row
      .col-lg-3.col-md-3.icon-box
          .icon
            i.fa.fa-4x.fa-bug
          .icon-caption
            | 中国加油
      .col-lg-3.col-md-3.icon-box
          .icon
            i.fa.fa-4x.fa-bug
          .icon-caption
            | 中国加油
      .col-lg-3.col-md-3.icon-box
          .icon
            i.fa.fa-4x.fa-bug
          .icon-caption
            | 中国加油
      .col-lg-3.col-md-3.icon-box
          .icon
            i.fa.fa-4x.fa-bug
          .icon-caption
            | 中国加油
  #news
    .container
      .row
        .col-md-4
          .single-topic
            .topic-title
              h2 创业攻略
              .more.text-right 更多攻略
            .single-news
              .col-md-3
                .news-img
                  img.img-responsive(src="images/b1.jpg")
              .col-md-9
                h3 万科重组险胜一局
                p 6月17日晚11时40分，万科企业股份有限公司的重组预案终于披露。 根据公告，万科拟以发行股份...
              .clearfix
            .single-news
              .col-md-3
                .news-img
                  img.img-responsive(src="images/b1.jpg")
              .col-md-9
                h3 万科重组险胜一局
                p 6月17日晚11时40分，万科企业股份有限公司的重组预案终于披露。 根据公告，万科拟以发行股份...
              .clearfix
            .single-news
              .col-md-3
                .news-img
                  img.img-responsive(src="images/b1.jpg")
              .col-md-9
                h3 万科重组险胜一局
                p 6月17日晚11时40分，万科企业股份有限公司的重组预案终于披露。 根据公告，万科拟以发行股份...
              .clearfix
        .col-md-4
          .single-topic
          .clearfix
            .topic-title
              h2 新人指导
              .more.text-right 更多攻略
            .single-news
              .col-md-4
                .news-img
                  img.img-responsive(src="images/b1.jpg")
              .col-md-8
                h3 注册公司经营范围怎么写
                p 细细算来，小编在马上创业网也接触了很多注册公司的客户了，其中很多创业者不知道经营范围...
              .clearfix
            .single-news
              .col-md-4
                .news-img
                  img.img-responsive(src="images/b1.jpg")
              .col-md-8
                h3 注册公司经营范围怎么写
                p 细细算来，小编在马上创业网也接触了很多注册公司的客户了，其中很多创业者不知道经营范围...
              .clearfix
            .single-news
              .col-md-4
                .news-img
                  img.img-responsive(src="images/b1.jpg")
              .col-md-8
                h3 注册公司经营范围怎么写
                p 细细算来，小编在马上创业网也接触了很多注册公司的客户了，其中很多创业者不知道经营范围...
              .clearfix
        .col-md-4
          .single-topic
            .topic-title
              h2 人事代理
              .more.text-right 更多攻略
            .single-news
              .col-md-4
                .news-img
                  img.img-responsive(src="images/b1.jpg")
              .col-md-8
                h3 一切都是那么“偶然”
                p 现在在上海打拼的外地人很多，想必大家对于外地人在上海生孩子能不能领取生育险很关注 ...
              .clearfix
            .single-news
              .col-md-4
                .news-img
                  img.img-responsive(src="images/b1.jpg")
              .col-md-8
                h3 一切都是那么“偶然”
                p 现在在上海打拼的外地人很多，想必大家对于外地人在上海生孩子能不能领取生育险很关注 ...
              .clearfix
            .single-news
              .col-md-4
                .news-img
                  img.img-responsive(src="images/b1.jpg")
              .col-md-8
                h3 一切都是那么“偶然”
                p 现在在上海打拼的外地人很多，想必大家对于外地人在上海生孩子能不能领取生育险很关注 ...
              .clearfix

  #advan
  section.container
      .title.text-center
        h2 公司优势
        p 整合行业资源，在这里你可以找到商标，专利，人事，法务，创业资金的服务商，投资人也要跟着你跑
      .advan-icons
        .icon-list
          .icon
            img(src='images/1.png')
          .icon
            img(src='images/2.png')
          .icon
            img(src='images/3.png')
          .icon
            img(src='images/4.png')
          .icon
            img(src='images/5.png')
          .icon
            img(src='images/6.png')
          .icon
            img(src='images/7.png')
          .icon
            img(src='images/8.png')
          .icon
            img(src='images/9.png')
          .icon
            img(src='images/10.png')
