extends ../layout
block content
  //- .page-header
  //-   .container
  //-     h1
  //-       | #{title}
  //-       small 联系我们，让我们更好的为您服务
  section#service
      .container
        .row
          .col-md-12.text-center
            .title
              h2.header-boxed.wow.zoomIn.animated(style='visibility: visible; animation-iteration-count: 1; animation-name: zoomIn;', data-wow-iteration='1')
                span 优质服务
              p.lead 如果您有任何业务上或者流程上的疑问，马上给我们留言：
        .row#service_row.text-center
          .col-md-3
            .servicewrap
              .service_icon
                i.fa.fa-5x.fa-toggle-off
              .service_caption
                | 公司注册
          .col-md-3
            .servicewrap
              .service_icon
                i.fa.fa-5x.fa-star-o
              .service_caption
                | 财务管理
          .col-md-3
            .servicewrap
              .service_icon
                i.fa.fa-5x.fa-tablet
              .service_caption
                | 公司注册
          .col-md-3
            .servicewrap
              .service_icon
                i.fa.fa-5x.fa-tv
              .service_caption
                | 公司注册
          .col-md-3
            .servicewrap
              .service_icon
                i.fa.fa-5x.fa-server
              .service_caption
                | 公司注册
          .col-md-3
            .servicewrap
              .service_icon
                i.fa.fa-5x.fa-object-ungroup
              .service_caption
                | 公司注册
          .col-md-3
            .servicewrap
              .service_icon
                i.fa.fa-5x.fa-flag-o
              .service_caption
                | 公司注册
          .col-md-3
            .servicewrap
              .service_icon
                i.fa.fa-5x.fa-clone
              .service_caption
                | 公司注册
