extends ../layout
block content
  #content
    #service_content
      .container
        .unit
          .unit-header.text-center
            .subheading
              span 盛驰部门
            h2 为你办好每一件事
            .space
          .col-md-offset-2.col-md-8
            article.text-center
              p 公司成立于2012年，现已拥有盛驰企业策划、盛驰工商财务、盛驰人力资源、盛驰金融服务等四个专业企业服务部门，是嘉兴企业管理服务行业的品牌公司。
          .clearfix
          .space
          .space
          .space
          .col-md-offset-5.col-md-2
            .line
              .icon
                i.fa.fa-bomb
          .clearfix  
    #service
      .container
        .unit
          .col-md-6.col-sm-12.padding-right
            .service_inner.iconbox_col
              .iconbox_right
                .iconbox_icon.heading-color.pull-right
                  i.fa.fa-american-sign-language-interpreting
                .iconbox_content_right
                  h3.pull-right 策划部
                  .iconbox_content_container 
                    p.pull-right 专注于为企业提供形象设计、广告宣传、网站建设、发展战略、盈利模式、运营模式、业务规划、营销策略、组织机构、人员管理、财
                      | 务预算等专业化服务，为企业打造最为优越稳健的品牌推广和发展模式。为您的公司量身定做，手把手教您从零成为优秀的企业家，是您创业和企业发展的首选好帮手！
                .clearfix
              .iconbox_right
                .iconbox_icon.heading-color.pull-right
                  i.fa.fa-money
                .iconbox_content_right
                  h3.pull-right 财税部
                  .iconbox_content_container 
                    p.pull-right 集多名高级专业技术职称的资深会计、工商税务服务人员及专业咨询顾问组合而成的融财务和税务于一体的高素质专业团队，拥有专门化管理和专业化运作的
                      | 服务体系。为企业提供专业高效的工商税务服务，是企业工商注册、财务会计、资质审批、办公租赁等及相关服务的首选服务单位。
                .clearfix

          .col-md-6.col-sm-12.padding-left
            .service_inner.iconbox_col
              .iconbox_right
                .iconbox_icon.heading-color.pull-left
                  i.fa.fa-user
                .iconbox_content_right.iconbox_content_left
                  h3 人力资源部
                  .iconbox_content_container 
                    p.pull-right 则与多家劳务派遣公司合作，拥有强大的人力资源供应体系，致力于为各个企业提供专业的人力资源服务，是嘉兴各大企业的可靠的人力资源后盾。并且长期
                      | 与嘉兴学院人力资源部及勤工助学中心合作，专业提供各类演艺人才、家教老师、派单人员、兼职人员等，旨在打造嘉兴最高效优惠的人力资源服务。
                .clearfix
              .iconbox_right
                .iconbox_icon.heading-color.pull-left
                  i.fa.fa-pie-chart
                .iconbox_content_right.iconbox_content_left
                  h3 金融服务部
                  .iconbox_content_container 
                    p.pull-right 致力于打造嘉兴最便捷最高效的金融服务平台，与嘉兴各个小额贷款公司长期合作，为嘉兴中小企业及个人提供专业低息的小额贷款咨询服务。找到嘉兴盛驰金
                      | 融服务，您就找到了嘉兴最多的贷款公司，无任何中间费用，让您快捷的找到最适合自己的融资渠道，让您贷的放心，省的顺心。
                .clearfix
          .clearfix
                
              
            
          
      .extra-border-element
        .extra-border-inner.back_white
